 body {
      font-family: 'Poppins', sans-serif;
      max-width: 300px;
      margin: auto;
      background-color: #fafafa;
      color: #000000;
    }

    label {
      display: block;
      margin-top: 10px;
      font-weight: 500;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    input, select {
      width: 100%;
      padding: 8px 10px;
      margin-top: 5px;
      border: 1.5px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
      background-color: #fff;
    }

    input:focus, select:focus {
      border-color: #4a90e2;
      outline: none;
      background-color: #dbdbdb;
    }

    button {
      display: block;
      margin-top: 15px;
      width: 100%;
      padding: 10px;
      background-color: #2763a8;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
    }

    button:hover {
      background-color: #357abd;
    }

    .borda-erro {
      border: solid 2px red;
    }

    .resultado {
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #f9f9f9;
      white-space: pre-wrap;
    }

    .opcao {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 5px;
      font-weight: normal;
    }

    .opcao input {
      width: auto;
      margin: 0;
    }

    .input-error {
      border: 2px solid red;
    }